@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    background: transparent;
    .hide-scrollbar {
        overflow: -moz-scrollbars-none; 
        -ms-overflow-style: none; 
        scrollbar-width: none; 
    }
      
    .hide-scrollbar::-webkit-scrollbar {
        width: 0px;  /* Safari and Chrome */
    } 
}